* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a1625;
}

nav {
    height: 5rem;
    display: flex;
    transition: box-shadow 200ms;
}

nav:hover {
    #search-area {
        border: 0.1rem solid #ed20ed;
        box-shadow: 0rem 0rem 0.51rem #ed20ed;
    }
}

#search-area {
    background-color: #2f2b3a;
    margin: auto;
    width: clamp(100%, 30rem, 90%);
    height: 3rem;
    border: 0.1rem solid cyan;
    border-radius: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 200ms;
    box-shadow: 0rem 0rem 0.51rem cyan;

    svg {
        fill: white;
    }

    input {
        height: 90%;
        border-style: none;
        flex-grow: 1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        background-color: transparent;
        color: white;
    }

    input:focus {
        outline: none;
    }
}

#category-selector {
    margin-top: 1rem;
    background-color: transparent;
    height: 2.3rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    width: clamp(30rem, 90%, 100%);
    margin-right: auto;
    margin-left: auto;

    button {
        background-color: transparent;
        border: solid 0.1rem cyan;
        box-shadow: 0rem 0rem 0.5rem cyan;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.4rem;
        color: cyan;
        font-weight: 600;
        transition: all 300ms;
        flex-grow: 1;
    }

    button:focus {
        flex-grow: 10;
        border-color: #ed20ed ;
        box-shadow: 0rem 0rem 0.5rem #ed20ed;
        color: #ed20ed;
        outline: none;
    }
}

#cards-container {
    margin: 2rem;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 0.5rem;
    width: min(80%, 20rem);
    height: 30rem;
    position: relative;
    transition: all 1s;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        transition: all linear 1s;
    }

    button {
        position: absolute;
        bottom: 0rem;
        height: 4rem;
        border-radius: inherit;
        border-style: none;
        background-color: rgba(0, 0, 0, 0.212);
        backdrop-filter: blur(7px);
        font-size: large;
        font-weight: 600;
        color: white;
        width: 100%;
        transition: all linear 0.3s;
    }

    button:hover {
        backdrop-filter: blur(20px);
        background-color: rgba(21, 80, 134, 0.212);
    }
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -.3rem;
    z-index: -1;
    border-radius: inherit;
    background: conic-gradient(
        from var(--gradient-angle),
        #49dbf2,
        #49dbf2,
        #170087,
        #49dbf2
    );
    animation: rotation 20s linear infinite;
}


.card::after {
    filter: blur(1.5rem);
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg;}
}