:root {
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color : cyan;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ed20ed;
    box-shadow: 0rem 0rem 0.5rem #ed20ed;
    width: 0.5rem;
    border-radius: 1rem;

}

button {
    cursor: pointer;
}

body {
    background-color: #1a1625;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
}

nav {
    height: 5rem;
    display: flex;
}

nav:hover {
    #search-area {
        border: 0.1rem solid #ed20ed;
        box-shadow: 0rem 0rem 0.51rem #ed20ed;
    }
}

#search-area {
    background-color: #2f2b3a;
    margin: auto;
    width: min(90%, 40rem);
    height: 3rem;
    border: 0.1rem solid cyan;
    border-radius: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all linear 300ms;
    box-shadow: 0rem 0rem 0.51rem cyan;

    svg {
        fill: white;
        transition: all linear 300ms;
        cursor: pointer;
    }

    svg:hover {
        fill: #ed20ed;
    }

    input {
        height: 90%;
        border-style: none;
        flex-grow: 1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        background-color: transparent;
        color: white;
    }

    input:focus {
        outline: none;
    }
}

.category-selector {
    margin-top: 1rem;
    background-color: transparent;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: min(90vw, 40rem);
    margin-right: auto;
    margin-left: auto;

    button {
        background-color: transparent;
        border: solid 0.1rem #ed20ed;
        box-shadow: 0rem 0rem 0.5rem #ed20ed;
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.4rem;
        color: #ed20ed;
        font-weight: 600;
        transition: all 300ms;
        flex-grow: 1;
    }

    .non-active {
        flex-grow: 10;
        border-color: cyan ;
        box-shadow: 0rem 0rem 0.5rem cyan;
        color: cyan;
        outline: none;
    }
}

.food-info {

    padding-left: 2rem;
    padding-right: 2rem;
    width: 15rem;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
    align-items: flex-start;

    h1 {
        margin-top: 1rem;
    }


}

.card {
    margin: 2rem;
    border-radius: 0.5rem;
    height: 24rem;
    width: min(90%, 60rem);
    position: relative;
    transition: all 1s;
    color: white;
    background-color: #1a1625;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;


    img {
        width: min(90%, 15rem);
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    .favorite-button {
        bottom: 0.5rem;
        right: 1rem;
        position: absolute;
        background-color: transparent;
        border-style: none;

        svg {
            fill: cyan;
            width: 2rem;
            height: 2rem;
            transition: all 300ms;
        
        }
    }
}

.favorite {
    svg {
        fill: #ed20ed !important;
    }
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -.3rem;
    z-index: -1;
    border-radius: inherit;
    background: conic-gradient(
        from var(--gradient-angle),
        #49dbf2,
        #49dbf2,
        #170087,
        #49dbf2
    );
    animation: rotation 20s linear infinite;
}


.card::after {
    filter: blur(1.5rem);
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg;}
}

@media screen and (max-width: 607px) {
    .card {
        height: auto;

        img {
            width: 100%;
            height: 10rem;
        }

        .food-info {
            height: 20rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

            article {
                height: 20rem;
            }
        }
    }
}

/* ! favorites part */

@keyframes heartbet {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.diagonal {
    display: flex;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding-block: 5rem;
    padding-inline: 2rem;
    color: white;
    justify-content: center;
    gap: 3rem;


    h2 {
        font-size: clamp(2rem, 5vw, 3rem);
        background: linear-gradient(45deg, cyan, #ed20ed);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    svg {
        fill: #ed20ed;
        width: 3rem;
        height: 3rem;
        animation: infinite 1.5s heartbet;
        transition: all 300ms;
    }

    svg:hover {
        animation: infinite 0.5s heartbet;
        width: 4rem;
        height: 4rem;
    }

}


.diagonal::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(45deg, cyan, #1900ff, #ed20ed);
    transform: skewY(-3deg);
    border-radius: 1rem;
}

.diagonal::before {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(45deg, cyan, #1900ff, #ed20ed);
    transform: skewY(-3deg);
    filter: blur(1rem);
}

.info-container {
    padding-bottom: 2rem;
}

.ingredient-container {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    p::before {
        content: "🔴";
    }

    p::after {
        content: "✅";
    }
}

.more-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;

    p::before {
        content: "ℹ️ ";
        color : cyan;
    }
}

.hidden {
    display: none;
}


/* ! loader */



.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
0% {
    height: 0%;
}

25% {
    height: 0%;
}

50% {
    height: 100%;
}

75% {
    height: 100%;
}

100% {
    height: 0%;
}
}

/* ! Favorite section */

#favorite-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
    align-items: center;
}

/* ! Not found css */

#not-found {
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(1.8rem, 5vw, 4rem);
    margin-block: 3rem;
    color: cyan;
    text-align: center;
}